@use "global" as *;

.c-card02 {
  @include mq(md) {
  }
}

.c-card02__img {
  @include mq(md) {
    width: myrem(317);
    height: myrem(195);
  }
}

.c-card02__img img {
  @include mq(md) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 317 / 195;
  }
}

.c-card02__meta {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: myrem(20);
    margin-top: myrem(10);
  }
}

.c-card02__text {
  @include mq(md) {
    @include l_height(16, 26);
    margin-top: myrem(14);
    letter-spacing: 0.03em;
  }
}

.c-card02__label {
  @include mq(md) {
    color: $white;
    background-color: $black;
    font-size: myrem(14);
    font-weight: bold;
    letter-spacing: 0.03em;
    padding: myrem(6) myrem(24) myrem(5) myrem(23);
  }
}

.c-card02__date {
  @include mq(md) {
    font-size: myrem(16);
    font-weight: bold;
    letter-spacing: 0.03em;
  }
}
