@use "global" as *;

.p-header {
  width: 100%;
  height: myrem(60);
  padding-left: myrem(20);
  background: $white;
  position: fixed;
  top: 0;
  z-index: 44;
  @include mq(md) {
    height: myrem(82);
    padding: 0;
    transition: 0.4s;
  }
}

.p-header__wrapper {
  height: inherit;
  display: flex;
  justify-content: space-between;

  @include mq(md) {
    align-items: center;
    gap: myrem(15);
    padding-left: myrem(50);
  }
}

.p-header__logo {
  display: block;
  position: relative;
  width: calc(190 / 375 * 100%);
  z-index: 44;
  @include mq(md) {
    width: calc(333 / 1400 * 100%);
    height: inherit;
    transition: 0.4s;
  }
}

.p-header__logo-image {
  @include mq(md) {
    height: inherit;
    transition: 0.4s;
  }
}

.p-header__logo-image img {
  aspect-ratio: 190/24;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq(md) {
    aspect-ratio: 333/40;
  }
}

.p-header__hamburger {
  height: inherit;
  width: myrem(60);
  padding: myrem(20) myrem(14);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 44;

  @include mq(md) {
    display: none;
  }
}

.p-header__hamburger span {
  width: 100%;
  height: 2px;
  background-color: $black;
  display: inline-block;
  border-radius: myrem(9);
  transform: translateY(0) rotate(0);
  transition: transform ease-in-out 0.3s;
}

.p-header__hamburger.is-active span:nth-child(1) {
  transform: translateY(myrem(5)) rotate(45deg);
}

.p-header__hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.p-header__hamburger.is-active span:nth-child(3) {
  transform: translateY(myrem(-5)) rotate(-45deg);
}

.p-header__nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: gray;
  top: 0;
  left: 0;
  padding: myrem(80) myrem(20) myrem(20);
  z-index: 43;
  @include mq(md) {
    display: flex;
    position: static;
    height: inherit;
    width: 100%;
    padding: 0;
    align-items: center;
    background-color: transparent;
    justify-content: flex-end;
  }
}

.p-header__nav-inner {
  height: 100%;
  overflow: auto;

  @include mq(md) {
    height: inherit;
    overflow: initial;
  }
}

.p-header__nav-inner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  min-height: myrem(470);
  text-align: center;

  @include mq(md) {
    min-height: initial;
    height: inherit;
    flex-direction: row;
    justify-content: space-between;
    gap: myrem(15);
  }
}

.p-header__nav-list {
  width: myrem(280);
  margin-inline: auto;
  order: 2;
  margin-top: myrem(40);
  @include mq(md) {
    order: initial;
    display: flex;
    width: initial;
    justify-content: flex-start;
    height: inherit;
    margin-inline: initial;
    margin-top: initial;
  }
}

.p-header__nav-item {
  @include mq(md) {
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.4s;
  }
}

.p-header__nav-item:not(:first-child)::before {
  @include mq(md) {
    content: "";
    position: absolute;
    width: 1px;
    height: myrem(16);
    background: $black;
  }
}

.p-header-nav-item__link {
  border-bottom: 1px solid #707070;
  display: block;
  text-align: center;
  padding: myrem(15);
  font-size: myrem(16);
  line-height: calc(32 / 16);
  letter-spacing: 0.05em;
  color: $black;
  width: 100%;

  @include mq(md) {
    font-size: myrem(16);
    color: $black;
    height: inherit;
    display: flex;
    align-items: center;
    padding: myrem(10);
    border-bottom: none;
    transition: 0.4s;
  }
}

.p-header-nav-item__link:hover {
  @include mq(md) {
    color: blue;
    font-weight: bold;
    opacity: 1;
  }
}

.p-header__dropmenu {
  @include mq(md) {
    transform: scaleY(0);
    transform-origin: top center;
    transition: 0.4s;
    background: rgb(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    padding: myrem(14) myrem(7) myrem(12) myrem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.p-header-dropmenu__item {
  position: relative;
  width: 100%;
  @include mq(md) {
    width: initial;
  }
}

.p-header-dropmenu__link {
  @include mq(md) {
    font-size: myrem(16);
    line-height: calc(34 / 16);
    letter-spacing: 0;
    padding-inline: 0;
    padding-block: myrem(3);
    transition: 0.4s;
  }
}

.p-header-dropmenu__link:hover {
  @include mq(md) {
    color: blue;
    font-weight: bold;
    opacity: 1;
  }
}

.p-header-nav-item:hover .p-header__dropmenu {
  @include mq(md) {
    transform: scaleY(1);
  }
}

.p-header__btnlist {
  display: flex;
  flex-direction: column;
  gap: myrem(20);
  width: myrem(280);
  @include mq(md) {
    width: initial;
    flex-direction: row;
    height: inherit;
    gap: initial;
  }
}

.p-header__btnitem {
  @include mq(md) {
    height: inherit;
    width: myrem(262);
  }
}

.p-header__btnitem--reservation {
  @include mq(md) {
    height: inherit;
    width: myrem(120);
  }
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
  height: 100%;
  overflow: hidden;
}
